.cm-film-item-cpm {
  .movie-item {
    width: 85%;
    display: inline-block;
    margin-left: 10px;
    .movie-item_img {
      position: relative;

      a {
        img {
          width: 100%;
          height: 360px;
          border-radius: 5px;
        }
      }

      .movie-item_video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.5s;
        overflow: hidden;
        .movie_date {
          position: absolute;
          top: 25px;
          left: 0;
          color: white;
          background-color: #00c3b7;
          padding: 5px 18px;
          font-size: 13px;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          opacity: 0;
          transform: translateX(-100px);
          transition: all 0.3s;
        }

        .movie_ratting {
          position: absolute;
          top: 25px;
          right: 0;
          display: block;
          padding: 2px 7px;
          background-color: #95999c75;
          a {
            text-decoration: none;
            color: #fff;
            span {
              color: #00c3b7;
              margin-right: 5px;
            }
          }
        }

        .play-video {
          width: 60px;
          height: 60px;
          position: absolute;
          top: 25%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 50px;
          opacity: 0;
          transition: all 0.5s;
          cursor: pointer;
        }
      }
    }

    .movie_content {
      position: relative;
      .movie_name {
        height: 45px;
        font-size: 18px;
        color: white;
        letter-spacing: 1px;
        margin-top: 10px;
        opacity: 1;
      }

      .movie_info {
        font-size: 14px;
        color: #7fcab8;
        margin-bottom: 10px;
        opacity: 1;
      }

      .muave {
        position: absolute;
        top: 10px;
        left: 0;
        opacity: 0;
        width: 100%;
        border-radius: 4px;
        color: #fff;
        background-color: #00c3b7;
        padding: 8px7;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.5s;

        &:hover {
          color: black;
          background-color: #fff;
        }
      }
    }

    &:hover {
      .movie-item_img {
        .movie-item_video {
          background: linear-gradient(to top, rgba(0, 195, 183, 0.5) 0%, rgba(6, 15, 25, 0.6) 100%);
          .movie_date {
            transform: translateX(0px);
            opacity: 1;
          }

          .play-video {
            opacity: 1;
            top: 50%;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }

      .movie_content {
        .muave {
          opacity: 1;
        }

        .movie_name,
        .movie_info {
          opacity: 0;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    .movie-item {
      .movie-item_img {
        a {
          img {
            height: 300px;
          }
        }
      }
    }
  }
}
