<div class="title__user">
  <h2>Quản lý người dùng</h2>
</div>

<div class="search">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Search"
    />
  </mat-form-field>
  <button
    class="btn insert-btn"
    data-toggle="modal"
    data-target="#editUserModal"
    (click)="changeAdd(); insertForm.reset()"
  >
    Thêm người dùng
  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>STT</th>
      <td mat-cell *matCellDef="let row; let index = index">{{ index + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="TaiKhoan">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tài khoản</th>
      <td mat-cell *matCellDef="let row">{{ row.TaiKhoan }}</td>
    </ng-container>

    <ng-container matColumnDef="HoTen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Họ tên</th>
      <td mat-cell *matCellDef="let row">{{ row.HoTen }}</td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.Email }}</td>
    </ng-container>

    <ng-container matColumnDef="SoDT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Số điện thoại</th>
      <td mat-cell *matCellDef="let row">{{ row.SoDT }}</td>
    </ng-container>

    <ng-container matColumnDef="MaNhom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã nhóm</th>
      <td mat-cell *matCellDef="let row">{{ row.MaNhom }}</td>
    </ng-container>

    <ng-container matColumnDef="TenLoaiNguoiDung">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Loại người dùng</th>
      <td mat-cell *matCellDef="let row">{{ row.TenLoaiNguoiDung }}</td>
    </ng-container>

    <ng-container matColumnDef="Setting">
      <th mat-header-cell *matHeaderCellDef>Cài đặt</th>
      <td mat-cell *matCellDef="let row" class="d-flex setting">
        <button
          class="btn edit-btn setting-btn"
          data-toggle="modal"
          data-target="#editUserModal"
          (click)="changeEdit(row)"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn delete-btn setting-btn" (click)="deleteUser(row)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<!-- The Modal -->
<div class="modal" id="editUserModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <ng-container *ngIf="statusChangeForm; else hiddenThem">
          <h4 class="modal-title">Cập nhật</h4>
        </ng-container>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <ng-template #hiddenThem>
        <h4 class="modal-title">Thêm mới</h4>
      </ng-template>

      <!-- Modal body -->
      <div class="modal-body">
        <form #insertForm="ngForm">
          <div class="form-group">
            <label for="">Tài khoản</label>
            <input
              type="text"
              class="form-control"
              [disabled]="statusChangeForm"
              placeholder="Tài khoản"
              name="TaiKhoan"
              #TaiKhoan="ngModel"
              [(ngModel)]="user.TaiKhoan"
              required
            />
            <div
              *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)"
            >
              <!-- kiểm tra rỗng -->
              <p *ngIf="TaiKhoan.errors.required" class="thong-bao">
                Vui lòng nhập Tài khoản!
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="">Mật khẩu</label>
            <input
              type="password"
              class="form-control"
              placeholder="Mật khẩu"
              name="MatKhau"
              #MatKhau="ngModel"
              [ngModel]="user.MatKhau"
              required
            />
            <div *ngIf="MatKhau.errors && (MatKhau.dirty || MatKhau.touched)">
              <!-- kiểm tra rỗng -->
              <p *ngIf="MatKhau.errors.required" class="thong-bao">
                Vui lòng nhập mật khẩu!
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="">Họ tên</label>
            <input
              type="text"
              class="form-control"
              placeholder="Họ tên"
              name="HoTen"
              #HoTen="ngModel"
              [ngModel]="user.HoTen"
              required
            />
            <div *ngIf="HoTen.errors && (HoTen.dirty || HoTen.touched)">
              <!-- kiểm tra rỗng -->
              <p *ngIf="HoTen.errors.required" class="thong-bao">
                Vui lòng nhập họ tên!
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input
              type="text"
              class="form-control"
              placeholder="Email"
              name="Email"
              #Email="ngModel"
              [ngModel]="user.Email"
              required
            />
            <div *ngIf="Email.errors && (Email.dirty || Email.touched)">
              <!-- kiểm tra rỗng -->
              <p *ngIf="Email.errors.required" class="thong-bao">
                Vui lòng nhập Email!
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="">Số điện thoại</label>
            <input
              type="text"
              class="form-control"
              placeholder="Số điện thoại"
              name="SoDT"
              #SoDT="ngModel"
              [ngModel]="user.SoDT"
              pattern="^(0|[1-9][0-9]*)$"
              required
            />
            <div *ngIf="SoDT.errors && (SoDT.dirty || SoDT.touched)">
              <!-- kiểm tra rỗng -->
              <p *ngIf="SoDT.errors.required" class="thong-bao">
                Vui lòng nhập mô tả!
              </p>
              <!-- kiểm tra số -->
              <p *ngIf="SoDT.errors.pattern" class="thong-bao">
                vui lòng nhập số!
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="">Mã nhóm</label>
            <input
              type="text"
              class="form-control"
              placeholder="Mã nhóm"
              name="MaNhom"
              #MaNhom="ngModel"
              [ngModel]="user.MaNhom"
              required
            />
            <div *ngIf="MaNhom.errors && (MaNhom.dirty || MaNhom.touched)">
              <!-- kiểm tra rỗng -->
              <p *ngIf="MaNhom.errors.required" class="thong-bao">
                Vui lòng nhập mã nhóm!
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="">Mã loại người dùng</label>
            <input
              type="text"
              class="form-control"
              placeholder="Mã loại người dùng"
              name="MaLoaiNguoiDung"
              #MaLoaiNguoiDung="ngModel"
              pattern="^(0|[1-9][0-9]*)$"
              [ngModel]="user.MaLoaiNguoiDung"
              required
            />
            <div
              *ngIf="
                MaLoaiNguoiDung.errors &&
                (MaLoaiNguoiDung.dirty || MaLoaiNguoiDung.touched)
              "
            >
              <!-- kiểm tra rỗng -->
              <p *ngIf="MaLoaiNguoiDung.errors.required" class="thong-bao">
                Vui lòng nhập mã loại người dùng!
              </p>
            </div>
          </div>
          <div class="text-right" *ngIf="statusChangeForm; else hiddenBtnThem">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="updateUser(insertForm.value)"
            >
              Cập nhật
            </button>
          </div>
          <ng-template #hiddenBtnThem>
            <div class="text-right">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="insertUser(insertForm.value)"
              >
                Thêm
              </button>
            </div>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalFail">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          {{ alert }}
        </h4>
      </div>
    </div>
  </div>
</div>
