<div class="row">
  <div class="col-md-12 titleRap">
    <p>CỤM RẠP</p>
  </div>
  <div class="col-md-12 item-rap">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs all-rap">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">
          <img src="../../../assets/images/rapBHD.png" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">
          <img src="../../../assets/images/rapGALA.png" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">
          <img src="../../../assets/images/rapLOTE.png" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3">
          <img src="../../../assets/images/rapSAO.png" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu4">
          <img src="../../../../../assets/images/doitac3.png" alt="">
        </a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content mt-5">
      <div class="tab-pane container active" id="home">
        <div class="row">
          <div class="col-md-5 tong_rap">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs flex-column chitiet-rap">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home1">
                  <div class="diadiem-rap">
                    <img src="../../../../../assets/images/cinema/bhd-star-bitexco.jpg" alt="#">
                    <div class="chitiet">
                      <p>
                        <span>BHD Star Cineplex</span> - Bitexco
                      </p>
                      <span class="chitiet_diachi">L3-Bitexco Icon 68, 2 Hải Triều, Q.1</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#home2">
                  <div class="diadiem-rap">
                    <img src="../../../../../assets/images/cinema/bhd-star-vincom-thao-dien.jpg" alt="#">
                    <div class="chitiet">
                      <p>
                        <span>BHD Star Cineplex</span> - Vincom Thảo Điền
                      </p>
                      <span class="chitiet_diachi">L5-Megamall, 159 XL Hà Nội, Q.2</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#home3">
                  <div class="diadiem-rap">
                    <img src="../../../../../assets/images/cinema/bhd-star-vincom-3-2.jpg" alt="#">
                    <div class="chitiet">
                      <p>
                        <span>BHD Star Cineplex</span> - 3/2
                      </p>
                      <span class="chitiet_diachi">L5-Vincom 3/2, 3C Đường 3/2, Q.10</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-7 pl-5">
          <div class="tab-content scroll-up" id="style-1">
            <div class="tab-pane container active" id="home1">
              <div class="col-md-12 p-0 all-movieInfo">
                <div class="movieInfo">
                  <img src="../../../../../assets/images/cinema/vua-su-tu-the-lion-king.jpg" alt="">
                  <div class="wrapInfo">
                    <p>
                      <span class="movieTitle">Vua Sư Tử - The Lion King</span>
                    </p>
                    <p class="movie-detail_time">118 phút - 123Phim 8.4 - IMDb 7.2</p>
                  </div>
                </div>
                <div class="movieInfo-time">
                  <button class="btn btn-success movie2D">2D</button>
                  <a>11:05</a>
                  <a>13:35</a>
                  <a>20:00</a>
                  <a>22:20</a>
                </div>
              </div>
              <div class="col-md-12 p-0 all-movieInfo">
                <div class="movieInfo">
                  <img src="../../../../../assets/images/cinema/fast-furious-hobbs-shaw.jpg" alt="">
                  <div class="wrapInfo">
                    <p>
                      <span class="movieTitle">Fast & Furious: Hobbs & Shaw </span>
                    </p>
                    <p class="movie-detail_time">141 phút - 123Phim 9.7 - IMDb 7.6</p>
                  </div>
                </div>
                <div class="movieInfo-time">
                  <button class="btn btn-success movie2D">2D</button>
                  <a>10:15</a>
                  <a>11:50</a>
                  <a>13:25</a>
                  <a>15:20</a>
                  <a>17:50</a>
                </div>
              </div>
              <div class="col-md-12 p-0 all-movieInfo">
                <div class="movieInfo">
                  <img src="../../../../../assets/images/cinema/tim-chong-cho-me.jpg" alt="">
                  <div class="wrapInfo">
                    <p>
                      <span class="movieTitle">Tìm Chồng Cho Mẹ </span>
                    </p>
                    <p class="movie-detail_time">112 phút - 123Phim 9.1 - IMDb 8</p>
                  </div>
                </div>
                <div class="movieInfo-time">
                  <button class="btn btn-success movie2D">2D</button>
                  <a>12:50</a>
                  <a>17:00</a>
                  <a>23:55</a>
                </div>
              </div>
              <div class="col-md-12 p-0 all-movieInfo">
                <div class="movieInfo">
                  <img src="../../../../../assets/images/cinema/dieu-ba-me-khong-ke-romang.jpg" alt="">
                  <div class="wrapInfo">
                    <p>
                      <span class="movieTitle">Điều Ba Mẹ Không Kể - Romang </span>
                    </p>
                    <p class="movie-detail_time">112 phút - 123Phim 9.1 - IMDb 8</p>
                  </div>
                </div>
                <div class="movieInfo-time">
                  <button class="btn btn-success movie2D">2D</button>
                  <a>10:40</a>
                  <a>13:25</a>
                  <a>15:40</a>
                  <a>17:55</a>
                  <a>18:50</a>
                </div>
              </div>           
            </div>

            <div class="tab-pane container fade" id="home2">
              <div class="tab-pane container active" id="home1">
                <div class="col-md-12 p-0 all-movieInfo">
                  <div class="movieInfo">
                    <img src="../../../../../assets/images/cinema/vua-su-tu-the-lion-king.jpg" alt="">
                    <div class="wrapInfo">
                      <p>
                        <span class="movieTitle">Vua Sư Tử - The Lion King</span>
                      </p>
                      <p class="movie-detail_time">118 phút - 123Phim 8.4 - IMDb 7.2</p>
                    </div>
                  </div>
                  <div class="movieInfo-time">
                    <button class="btn btn-success movie2D">2D</button>
                    <a>11:05</a>
                    <a>13:35</a>
                    <a>20:00</a>
                    <a>22:20</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane container fade" id="home3">
              <div class="tab-pane container active" id="home1">
                <div class="col-md-12 p-0 all-movieInfo">
                  <div class="movieInfo">
                    <img src="../../../../../assets/images/cinema/vua-su-tu-the-lion-king.jpg" alt="">
                    <div class="wrapInfo">
                      <p>
                        <span class="movieTitle">Vua Sư Tử - The Lion King</span>
                      </p>
                      <p class="movie-detail_time">118 phút - 123Phim 8.4 - IMDb 7.2</p>
                    </div>
                  </div>
                  <div class="movieInfo-time">
                    <button class="btn btn-success movie2D">2D</button>
                    <a>11:05</a>
                    <a>13:35</a>
                    <a>20:00</a>
                    <a>22:20</a>
                  </div>
                </div>
                <div class="col-md-12 p-0 all-movieInfo">
                  <div class="movieInfo">
                    <img src="../../../../../assets/images/cinema/fast-furious-hobbs-shaw.jpg" alt="">
                    <div class="wrapInfo">
                      <p>
                        <span class="movieTitle">Fast & Furious: Hobbs & Shaw </span>
                      </p>
                      <p class="movie-detail_time">141 phút - 123Phim 9.7 - IMDb 7.6</p>
                    </div>
                  </div>
                  <div class="movieInfo-time">
                    <button class="btn btn-success movie2D">2D</button>
                    <a>10:15</a>
                    <a>11:50</a>
                    <a>13:25</a>
                    <a>15:20</a>
                    <a>17:50</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="menu1">...</div>
      <div class="tab-pane container fade" id="menu2">...</div>
      <div class="tab-pane container fade" id="menu3">...</div>
      <div class="tab-pane container fade" id="menu4">...</div>
    </div>
  </div>
</div>