<!-- The Modal -->
<div class="modal" id="myModalTrailer" data-backdrop="static">
  <div class="modal-dialog" >
      <div class="modal-content">
          <!-- Modal body -->
          
          <div class="modal-body">
              <iframe width="100%" height="100%"  frameborder="0" [src]="trailer | safe"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
          </div>
          <button title="Close (Esc)" type="button" class="modal-close" data-dismiss="modal" (click) = "PauseVideo()">
              <i class="fa fa-times"></i>
          </button>
      </div>
  </div>
</div>