<div class="container">
        <div class="news-detail-title pt-50" id="divTitle">
            <!-- title news -->
        </div>
        <div class="news-rate">
            <div class="news-rate-like">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <span (click)="likeNews()">{{newsDetailShowing.like}} LIKES</span>
            </div>
            <div class="news-rate-comment">
                <i class="fa fa-comment"></i>
                <span>0 BÌNH LUẬN</span>
            </div>
            <div class="news-rate-share">
                <i class="fa fa-share"></i>
                <span>0 CHIA SẺ</span>
            </div>
        </div>
        <div class="news-detail-content pt-50" id="divContent">
            <!-- content news -->
        </div>
        <div class="news-infor">
            <div class="haddings pt-50">
                <div class="container">
                    <div class="hadding-area">
                        <h2>Tin tức mới nhất</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 news_bg" *ngFor="let item of newsTemp | slice: 0:2">
                  <div class="news-image" >
                    <img [src]="item.img" alt="img">
                    <span class="news-date">{{item.release}}</span>
                  </div>
                      <a class="news-title" >
                          <p class="mt-3">{{item.title}}</p>
                        </a>
                  <p class="news-content">{{item.content}}</p>
                  <div class="blockIcon">
                      <i class="fa fa-thumbs-up" (click)="like(item.id)"></i>
                          <span class="ml-2">{{item.like}}</span>
                    <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4 news_bg" *ngFor="let item of newsTemp | slice: 2:4">
                  <div class="news-image" >
                    <img [src]="item.img" alt="img">
                  </div>
                  <a class="news-title" >
                    <p class="mt-3">{{item.title}}</p>
                  </a>
                  <p class="news-content">{{item.content}}</p>
                  <div class="blockIcon">
                    <i class="fa fa-thumbs-up" (click)="like(item.id)"></i><span class="ml-2">{{item.like}}</span>
                    <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
                  </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="news-item" *ngFor="let item of newsTemp | slice: 4:8">
                      <a ><img [src]="item.img" alt="img"></a>
                      <p class="news-item_title" >{{item.title}}</p>
                    </div>
                </div>
              </div>
        </div>
    </div>