<div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- Logo -->
            
            <!-- End Logo -->
            <div class="navbar-collapse">
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0">
                </ul>
                <!-- User profile and search -->
                <ul class="navbar-nav my-lg-0">

                    <!-- Search -->
                    <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="fa fa-search"></i></a>
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="fa fa-close"></i></a> </form>
                    </li>
                    <!-- Comment -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                            <ul>
                                <li>
                                    <div class="drop-title">Notifications</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                            <div class="mail-contnet">
                                                <h5>This is title</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-success btn-circle m-r-10"><i class="fa fa-calendar"></i></div>
                                            <div class="mail-contnet">
                                                <h5>This is another title</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-info btn-circle m-r-10"><i class="fa fa-wrench"></i></div>
                                            <div class="mail-contnet">
                                                <h5>This is title</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-primary btn-circle m-r-10"><i class="fa fa-user"></i></div>
                                            <div class="mail-contnet">
                                                <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End Comment -->
                    <!-- Messages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-envelope"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                            <ul>
                                <li>
                                    <div class="drop-title">You have 4 new messages</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="user-img"> <img src="../../../assets/images/user.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="user-img"> <img src="../../../assets/images/user.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>John Doe</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="user-img"> <img src="../../../assets/images/user.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Mr. John</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="user-img"> <img src="../../../assets/images/user.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End Messages -->
                    <!-- Profile -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../../assets/images/user.jpg" alt="user" class="profile-pic" /></a>
                        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                            <ul class="dropdown-user">
                                <li data-toggle="modal" data-target="#modalNguoiDung" (click)="openEditMadal()"><a><i class="fa fa-user pr-2"></i>Thông tin</a></li>
                                <li data-toggle="modal" data-target="#modalDoiMatKhau"><a><i class="fa fa-wrench pr-2"></i>Đổi mật khẩu</a></li>
                                <li (click)="logOut()"><a><i class="fa fa-power-off pr-2"></i>Đăng xuất</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

 <!-- modal thông tin người dùng -->
<div class="modal fade modalAccount" id="modalNguoiDung">
    <div class="modal-dialog">
        <div class="modal-content modal-dang-ky">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thông tin người dùng</h4>
            </div>
        
            <!-- Modal body -->
            <div class="modal-body">
                <form #editForm = "ngForm" (ngSubmit) = "capNhat(editForm.value)">
                    <div class="form-group">
                        <input [disabled]="statusEdit" type="text" minlength="3" maxlength="10" name="TaiKhoan" class="form-control" placeholder="Tài khoản" #TaiKhoan="ngModel" [(ngModel)]="nguoiDung.TaiKhoan" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Họ tên" name="HoTen" #HoTen="ngModel" [(ngModel)]="nguoiDung.HoTen" required>
                        <!-- validation -->
                        <div *ngIf="HoTen.errors && (HoTen.dirty || HoTen.touched)">
                            <!-- kiểm tra rỗng -->
                            <p *ngIf="HoTen.errors.required" class="thong-bao">
                            vui lòng nhập họ tên!
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="Email" #Email="ngModel" [(ngModel)]="nguoiDung.Email" required>
                        <!-- validation -->
                        <!-- kiểm tra rỗng -->
                        <div *ngIf="Email.errors && (Email.dirty || Email.touched)">
                            <p *ngIf="Email.errors.required" class="thong-bao">
                            Vui lòng nhập nhập email!
                            </p>
                    
                            <!-- kiểm tra đúng định dạng -->
                            <p *ngIf="Email.errors.pattern" class="thong-bao">
                            Email không đúng định dạng!
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Số điện thoại" name="SoDT" #SoDT="ngModel" pattern="^(0|[1-9][0-9]*)$" [(ngModel)]="nguoiDung.SoDT" required>
                        <!-- validation -->
                        <div *ngIf="SoDT.errors && (SoDT.dirty || SoDT.touched)">
                            <!-- kiểm tra rỗng -->
                            <p *ngIf="SoDT.errors.required" class="thong-bao">
                            vui lòng nhập số điện thoại!
                            </p>
                    
                            <!-- kiểm tra số -->
                            <p *ngIf="SoDT.errors.pattern" class="thong-bao">
                            vui lòng nhập số!
                            </p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-modal" [disabled]="!editForm.valid">Cập nhật</button>
                </form>
            </div>    
        </div>
    </div>
</div>  

<!-- modal đổi mật khẩu -->
<div class="modal fade modalAccount" id="modalDoiMatKhau">
    <div class="modal-dialog">
        <div class="modal-content modal-dang-ky">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Đổi mật khẩu</h4>
            </div>
        
            <!-- Modal body -->
            <div class="modal-body">
                <form #changePassForm = "ngForm" (ngSubmit) = "doiMatKhau(changePassForm.value)">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mật khẩu hiện tại" name="MatKhau" #MatKhau="ngModel" [(ngModel)]="nguoiDung.MatKhau" required>
                        <!-- validation -->
                        <div *ngIf="MatKhau.errors && (MatKhau.dirty || MatKhau.touched)">
                            <!-- kiểm tra rỗng -->
                            <p *ngIf="MatKhau.errors.required" class="thong-bao">
                            vui lòng nhập mật khẩu!
                            </p>
                        </div>
                    </div>  
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mật khẩu mới" name="MatKhauMoi" #MatKhauMoi="ngModel" ngModel required>
                        <!-- validation -->
                        <div *ngIf="MatKhauMoi.errors && (MatKhauMoi.dirty || MatKhauMoi.touched)">
                            <!-- kiểm tra rỗng -->
                            <p *ngIf="MatKhauMoi.errors.required" class="thong-bao">
                            vui lòng nhập mật khẩu mới!
                            </p>
                        </div>
                    </div>                   
                    <button type="submit" class="btn btn-primary btn-modal" [disabled]="!changePassForm.valid">Cập nhật</button>
                </form>
            </div>    
        </div>
    </div>
</div>

<div class="modal fade loginFail" id="modalAlert">
    <div class="modal-dialog">
        <div class="modal-content">
        <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    {{alert}}
                </h4>
            </div>
        </div>
    </div>
</div>