<div class="footertop-bg">
    <div class="container">
        <div class="row footer">
            <div class="col-md-3 footerInfo">
                <div class="footerLogo">
                    <a href=""><img src="../../../assets/images/logo6.png" alt=""></a>
                </div>
                <p>MovieStar giúp bạn mua vé trực tuyến và cập nhật thướng xuyên các thông
                    tin như trailer, tin tức thông tin rạp, suất chiếu, ... Mong muốn mang đến
                    những trải nghiệm tốt nhất cho khách hàng.
                </p>
            </div>
            <div class="col-md-3">
                <div class="footer-title">
                    <p>Về chúng tôi</p>
                </div>
                <div class="footer-content">
                    <a href="">
                        <p>Giới thiệu</p>
                    </a>
                    <a href="">
                        <p>Lịch chiếu</p>
                    </a>
                    <a href="">
                        <p>Cụm rạp</p>
                    </a>
                    <a href="">
                        <p>Tin tức</p>
                    </a>
                    <a href="">
                        <p>Đăng nhập</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-title">
                    <p>Hỗ trợ khách hàng</p>
                </div>
                <div class="footer-content">
                    <a routerLink="/contact">
                        <p>Liên Hệ</p>
                    </a>
                    <a href="">
                        <p>Chính sách bảo mật</p>
                    </a>
                    <a href="">
                        <p>Quy chế hoạt động</p>
                    </a>
                    <a href="">
                        <p>Quyền lợi thành viên</p>
                    </a>
                    <a href="">
                        <p>Câu hỏi thường gặp</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-title">
                    <p>Đối tác</p>
                </div>
                <div class="row">
                    <div class="col-md-12 footer-doitac">
                        <a href="https://www.bhdstar.vn/"><img src="../../../assets/images/rapBHD.png" alt=""></a>
                        <a href="https://www.galaxycine.vn/"><img src="../../../assets/images/rapGALA.png" alt=""></a>
                        <a href="http://lottecinemavn.com/LCHS/index.aspx#"><img src="../../../assets/images/rapLOTE.png" alt=""></a>
                        <a href="https://cinestar.com.vn/"><img src="../../../assets/images/rapSAO.png" alt=""></a>
                        <a href="https://www.betacineplex.vn/home.htm"><img src="../../../assets/images/doitac1.jpg" alt=""></a>
                        <a href="http://ddcinema.vn/"><img src="../../../assets/images/doitac2.png" alt=""></a>
                        <a href="https://touchcinema.com/"><img src="../../../assets/images/doitac3.png" alt=""></a>
                        <a href="https://cinemaxvn.com/"><img src="../../../assets/images/doitac4.jpg" alt=""></a>
                        <a href="https://starlight.vn/"><img src="../../../assets/images/doitac5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footerbottom-bg">
    <div class="container">
        <div class="row footerbottom">
            <div class="col-md-10 d-flex">
                <div class="footerbottom_logo">
                    <img src="../../../assets/images/favicon.png" alt="">
                </div>
                <div class="footerbottom-content">
                    <p>MOVIESTAR – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION – MỘT THÀNH VIÊN CỦA CÔNG TY CỔ PHẦN VNG </p>
                    <p>Địa chỉ: 52 Nguyễn Ngọc Lộc, Phường 14, Quận 10, Thành phố Hồ Chí Minh</p>
                    <p>Mã số thuế: 01012584899</p>
                </div>
            </div>
            <div class="col-md-2 logoCongThuong">
                <img src="../../../assets/images/logoCongThuong.png" alt="">
            </div>
        </div>
    </div>
</div>