<!-- nav bình luận -->
<div class="detail-comment">
    <h2 class="title" >{{countComment}} Lượt bình luận</h2>
    <ol class="comment-list">
        <li class="single-comment">
            <div class="comment-body">
                <div class="comment-img img-user">
                    <img src="../../../../assets/images/author.jpg" alt="">
                </div>
                <div class="comment-content">
                    <div class="form-group">
                        <button data-toggle="modal" data-target="#myModalComment" class="btn-Comment" >Bạn nghĩ gì về phim này?</button>
                        <div class="detail-rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ol>                               
    <ol class="comment-list" *ngFor="let item of listCommentMovie">
        <li class="single-comment">
            <div class="comment-body user-comment-body">
                <div class="comment-img">
                    <img src="../../../../assets/images/author/1.png" alt="">
                </div>
                <div class="comment-content">
                    <div class="comment-title-box">
                        <h5 class="comment-title">{{item.taiKhoan}}</h5>
                        <label id="lbStar">{{item.danhGia}}/5 <span class="fa fa-star"></span></label>
                    </div>
                    <p>{{item.noiDung}}</p>
                    <div class="comment-reply-box">
                        <div class="comment-time">{{item.thoiGian | date: "hh:mm dd/MM"}}</div>
                        <div class="comment-reply">
                            <a class="Repost"><i class="fa fa-reply"></i>Repost</a>
                            <a class="reply"><i class="fa fa-reply-all"></i>reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ol>
    <div class="comment-more">
        <button class="btn xemthem">Xem thêm</button>
    </div>
</div>
<!-- end nav bình luận -->
<!-- The Modal -->
<div class="modal fade" id="myModalComment">
<div class="modal-dialog dialog-cmt">
<div class="modal-content"> 
<!-- Modal body -->
<div class="modal-body">
    <div class="danhGia">
        <div id="rating">
            <!-- <form #ratingForm = "ngForm" (ngSubmit)="danhGia(ratingForm)"> -->
                <input type="radio" [id]="star5" [name]="star" value="5" [checked]="rating===5"/>
                <label class = "full" for="star5" title="Awesome - 5 stars" (click)='chonSao(5)'></label>
                
                <input type="radio" [id]="star4half" [name]="star" value="4.5" [checked]="rating===4.5"/>
                <label class="half" for="star4half" title="Pretty good - 4.5 stars" (click)='chonSao(4.5)'></label>
                
                <input type="radio" [id]="star4" [name]="star" value="4" [checked]="rating===4"/>
                <label class = "full" for="star4" title="Pretty good - 4 stars" (click)='chonSao(4)'></label>
                
                <input type="radio" [id]="star3half" [name]="star" value="3.5" [checked]="rating===3.5"/>
                <label class="half" for="star3half" title="Meh - 3.5 stars" (click)='chonSao(3.5)'></label>
                
                <input type="radio" [id]="star3" [name]="star" value="3" [checked]="rating===3"/>
                <label class = "full" for="star3" title="Meh - 3 stars" (click)='chonSao(3)'></label>
                
                <input type="radio" [id]="star2half" [name]="star" value="2.5" [checked]="rating===2.5"/>
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars" (click)='chonSao(2.5)'></label>
                
                <input type="radio" [id]="star2" [name]="star" value="2" [checked]="rating===2"/>
                <label class = "full" for="star2" title="Kinda bad - 2 stars" (click)='chonSao(2)'></label>
                
                <input type="radio" [id]="star1half" [name]="star" value="1.5" [checked]="rating===1.5"/>
                <label class="half" for="star1half" title="Meh - 1.5 stars" (click)='chonSao(1.5)'></label>
                
                <input type="radio" [id]="star1" [name]="star" value="1" [checked]="rating===1"/>
                <label class = "full" for="star1" title="Sucks big time - 1 star" (click)='chonSao(1)'></label>
                
                <input type="radio" [id]="starhalf" [name]="star" value="0.5" [checked]="rating===0.5"/>
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars" (click)='chonSao(0.5)' ></label>
            <!-- </form> -->
        </div>
    </div>
    <div class="form-group">
        <input type="text" id="noiDung" name="" class="form-control txt-comment" placeholder="Bạn nghĩ gì về bộ phim này ?" #nhanXet [(ngModel)]="commentEditing.noiDung"> 
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-dark btn-cmt" (click)="dangNhanXet(taiKhoan,nhanXet.value,danhGia)">Đăng</button>
</div>
</div>
</div>
</div>

<div class="modal fade loginFail" id="modalAlertComment">
<div class="modal-dialog">
    <div class="modal-content">
    <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
               {{alert}}
            </h4>
        </div>
    </div>
</div>
</div>
