<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bootstrap Layout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <header class="header">
        <div class="container ">
            <p class="text-white text-right mb-0">
                <i class="fa fa-phone"></i>
                <span class="mx-2 border-right pr-2 font-weight-bold">01634643124</span>
                <i class="fa fa-search"></i>
            </p>

            <nav class="navbar navbar-expand-lg navbar-dark  p-0">
                <a href="#">
                    <img src="./img/logo.svg" />
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active px-2">
                            <a class="nav-link" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">WHAT'S ON</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SHORTCODES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" >CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal"
                            data-target="#modalForm" >SIGN IN
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal"
                            data-target="#modalForm">SIGN UP</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section class="slider">
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item item-1 active">
                    <!-- <img src="./img/hero-1.jpg" class="d-block w-100" alt="..." /> -->
                    <div class="overlay"></div>
                    <div class="carousel-cap container">
                        <p style="color: #fbbd61">
                            ACTION, ADVENTURE, FANTASY
                        </p>
                        <h1 class="display-4">
                            END OF THE WORLD: PART I
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur architecto minus
                            officiis quas voluptatum nihil earum! Quae suscipit nulla iste dolore labore
                            <br />
                            veritatis esse porro in nemo.
                        </p>
                        <button class="btn btn-play" data-toggle="modal" data-target="#modalTrailer">Play
                            trailer</button>
                    </div>
                </div>
                <div class="carousel-item item-2">
                    <!-- <img src="./img/hero-2.jpg" class="d-block w-100" alt="..." /> -->
                    <div class="overlay"></div>
                    <div class="carousel-cap container">
                        <p style="color: #fbbd61">
                            ACTION, ADVENTURE, FANTASY
                        </p>
                        <h1 class="display-4">
                            END OF THE WORLD: PART II
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur architecto minus
                            officiis quas voluptatum nihil earum! Quae suscipit nulla iste dolore labore
                            <br />
                            veritatis esse porro in nemo.
                        </p>
                        <button class="btn btn-play" data-toggle="modal" data-target="#modalTrailer">Play
                            trailer</button>
                    </div>
                </div>

                <div class="carousel-item item-3">
                    <!-- <img src="./img/hero-3.jpg" class="d-block w-100" alt="..." /> -->
                    <div class="overlay"></div>
                    <div class="carousel-cap container">
                        <p style="color: #fbbd61">
                            ACTION, ADVENTURE, FANTASY
                        </p>
                        <h1 class="display-4">
                            END OF THE WORLD: PART III
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur architecto minus
                            officiis quas voluptatum nihil earum! Quae suscipit nulla iste dolore labore
                            <br />
                            veritatis esse porro in nemo.
                        </p>
                        <button class="btn btn-play" data-toggle="modal" data-target="#modalTrailer">Play
                            trailer</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="movies">
        <div class="container">
            <h1>SHOWING MOVIE</h1>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="movies__item-img">
                        <img src="./img/movie-1.jpg" />
                        <div class="overlay"></div>
                        <div class="movies__item-detail">
                            <i class="fa fa-play"></i>
                            <a class="d-block" style="color: white">Read more</a>
                            <span style="color: white">Release: 7, Mar 2017</span>
                        </div>
                    </div>
                    <div class="movies__item-info">
                        <p>Hush</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movies__item-img">
                        <img src="./img/movie-2.jpg" />
                        <div class="overlay"></div>
                        <div class="movies__item-detail">
                            <i class="fa fa-play"></i>
                            <a class="d-block" style="color: white">Read more</a>
                            <span style="color: white">Release: 7, Mar 2017</span>
                        </div>
                    </div>
                    <div class="movies__item-info">
                        <p>Hush</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movies__item-img">
                        <img src="./img/movie-3.jpg" />
                        <div class="overlay"></div>
                        <div class="movies__item-detail">
                            <i class="fa fa-play"></i>
                            <a class="d-block" style="color: white">Read more</a>
                            <span style="color: white">Release: 7, Mar 2017</span>
                        </div>
                    </div>
                    <div class="movies__item-info">
                        <p>Hush</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="movies__item-img">
                        <img src="./img/movie-4.jpg" />
                        <div class="overlay"></div>
                        <div class="movies__item-detail">
                            <i class="fa fa-play"></i>
                            <a class="d-block" style="color: white">Read more</a>
                            <span style="color: white">Release: 7, Mar 2017</span>
                        </div>
                    </div>
                    <div class="movies__item-info">
                        <p>Hush</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="showtimes py-5">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mon-tab" data-toggle="tab" href="#mon" role="tab">MON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="tue-tab" data-toggle="tab" href="#tue" role="tab">TUE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="wed-tab" data-toggle="tab" href="#wed" role="tab">WED</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="thu-tab" data-toggle="tab" href="#thu" role="tab">THU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="fri-tab" data-toggle="tab" href="#fri" role="tab">FRI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="sat-tab" data-toggle="tab" href="#sat" role="tab">SAT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="sun-tab" data-toggle="tab" href="#sun" role="tab">SUN</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="mon" role="tabpanel">
                    <div class="row pt-5">
                        <div class="col-2">
                            <img src="./img/movie-11.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-10">
                            <span style="color:  #fbbd61">ACTION, ADVENTURE, FANTASY</span>
                            <h1>It's over</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat saepe excepturi quod sequi quaerat voluptas!</p>
                            <a href="#"> 
                                <i class="fa fa-angle-right"></i>   
                                FULL SYNOPSIS
                            </a>
                            <div class="showtimes__movie d-flex justify-content-between"> 
                            <div>
                                <i class="fa fa-clock-o"></i>
                                <span>VIEWING TIMES</span>
                                <button class="btn btn-secondary">14:25</button>
                                <button class="btn btn-secondary">16:25</button>
                                <button class="btn btn-secondary">17:25</button>
                                <button class="btn btn-secondary">18:25</button>
                            </div>
                                <p class="showtimes__duration">105 MINS <span class="bg-dark text-white rounded-circle d-inline-block">15</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                            <div class="col-2">
                                <img src="./img/movie-12.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-10">
                                <span style="color:  #fbbd61">ACTION, ADVENTURE, FANTASY</span>
                                <h1>Golden Experience Requiem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat saepe excepturi quod sequi quaerat voluptas!</p>
                                <a href="#"> 
                                    <i class="fa fa-angle-right"></i>   
                                    FULL SYNOPSIS
                                </a>
                                <div class="showtimes__movie d-flex justify-content-between"> 
                                <div>
                                    <i class="fa fa-clock-o"></i>
                                    <span>VIEWING TIMES</span>
                                    <button class="btn btn-secondary">14:25</button>
                                    <button class="btn btn-secondary">16:25</button>
                                    <button class="btn btn-secondary">17:25</button>
                                    <button class="btn btn-secondary">18:25</button>
                                </div>
                                    <p>105 MINS <span class="bg-dark text-white rounded-circle">15</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                                <div class="col-2">
                                    <img src="./img/movie-13.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-10">
                                    <span style="color:  #ec7532">ACTION, ADVENTURE, FANTASY</span>
                                    <h1>Weather Report</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat saepe excepturi quod sequi quaerat voluptas!</p>
                                    <a href="#"> 
                                        <i class="fa fa-angle-right"></i>   
                                        FULL SYNOPSIS
                                    </a>
                                    <div class="showtimes__movie d-flex justify-content-between"> 
                                    <div>
                                        <i class="fa fa-clock-o"></i>
                                        <span>VIEWING TIMES</span>
                                        <button class="btn btn-secondary">14:25</button>
                                        <button class="btn btn-secondary">16:25</button>
                                        <button class="btn btn-secondary">17:25</button>
                                        <button class="btn btn-secondary">18:25</button>
                                    </div>
                                        <p>105 MINS <span class="bg-dark text-white rounded-circle">15</span></p>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="tab-pane " id="tue" role="tabpanel">TUE</div>
                <div class="tab-pane " id="wed" role="tabpanel">WED</div>
                <div class="tab-pane " id="thu" role="tabpanel">THU</div>
                <div class="tab-pane " id="fri" role="tabpanel">FRI</div>
                <div class="tab-pane " id="sat" role="tabpanel">SAT</div>
                <div class="tab-pane " id="sun" role="tabpanel">SUN</div>
            </div>
        </div>
    </section>

    <section class="comingsoon">
        <div class="comingsoon__background">
            <div class="overlay"></div>
            <div class="container">
                <h1 class="py-5" style="color:white">COMING SOON</h1>
                <div class="row py-4">
                    <div class="col-6">
                        <p style="color: #ec7532">COMEDY CRIME</p>
                        <h2>The Hangover Part III</h2>
                        
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        <span>
                            <i class="fa fa-calendar"></i>
                            30 September 2017
                        </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At sint quia, blanditiis rem aperiam hic.</p>  
                            <span style="color: orange">MORE INFO ></span>
                    </div>
                    <div class="col-6">
                        <img src="./img/slide-3-video.png">
                        <i class="fa fa-play"></i>
                    </div> 
                
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="modalTrailer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe width="475" height="500" src="https://www.youtube.com/embed/bILE5BEyhdo" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal form -->
    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
    <form>
        <div class="row">
            <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="email">
                  </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Password</label>
              <input type="password" class="form-control" id="password" placeholder="password">
            </div>
        </div>
            <button class="btn btn-success">Submit</button>
          </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>