<div class="title__movie">
  <h2>Quản lý phim</h2>
</div>

<div class="search">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Search"
    />
  </mat-form-field>
  <button
    class="btn insert-btn"
    data-toggle="modal"
    data-target="#editMovieModal"
    (click)="changeAdd(); insertForm.reset()"
  >
    Thêm phim
  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>STT</th>
      <td mat-cell *matCellDef="let row; let index = index">{{ index + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="MaPhim">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã phim</th>
      <td mat-cell *matCellDef="let row">{{ row.MaPhim }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="TenPhim">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên phim</th>
      <td mat-cell *matCellDef="let row">{{ row.TenPhim }}</td>
    </ng-container>

    <ng-container matColumnDef="HinhAnh">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hình ảnh</th>
      <td mat-cell *matCellDef="let row"><img [src]="row.HinhAnh" alt="" /></td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="MaNhom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã nhóm</th>
      <td mat-cell *matCellDef="let row">{{ row.MaNhom }}</td>
    </ng-container>

    <ng-container matColumnDef="Setting">
      <th mat-header-cell *matHeaderCellDef>Cài đặt</th>
      <td mat-cell *matCellDef="let row" class="d-flex setting">
        <button
          class="btn edit-btn setting-btn"
          data-toggle="modal"
          data-target="#editMovieModal"
          (click)="changeEdit(row)"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn delete-btn setting-btn" (click)="deleteMovie(row)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<!-- The Modal -->
<div class="modal" id="editMovieModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <ng-container *ngIf="statusChangeForm; else hiddenThem">
          <h4 class="modal-title">Cập nhật</h4>
        </ng-container>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <ng-template #hiddenThem>
        <h4 class="modal-title">Thêm mới</h4>
      </ng-template>

      <!-- Modal body -->
      <div class="modal-body">
        <form #insertForm="ngForm">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [disabled]="statusChangeForm"
              placeholder="Mã phim"
              name="MaPhim"
              #MaPhim="ngModel"
              pattern="^(0|[1-9][0-9]*)$"
              [(ngModel)]="movie.MaPhim"
              required
            />
            <div *ngIf="MaPhim.errors && (MaPhim.dirty || MaPhim.touched)">
              <!-- kiểm tra rỗng -->
              <p *ngIf="MaPhim.errors.required" class="thong-bao">
                Vui lòng nhập Mã phim!
              </p>
              <!-- kiểm tra số -->
              <p *ngIf="MaPhim.errors.pattern" class="thong-bao">
                vui lòng nhập số!
              </p>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Tên phim"
              name="TenPhim"
              #TenPhim="ngModel"
              [ngModel]="movie.TenPhim"
              required
            />
            <div *ngIf="TenPhim.errors && (TenPhim.dirty || TenPhim.touched)">
              <!-- kiểm tra rỗng -->
              <p *ngIf="TenPhim.errors.required" class="thong-bao">
                Vui lòng nhập tên phim!
              </p>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Mã nhóm"
              name="MaNhom"
              #MaNhom="ngModel"
              [ngModel]="movie.MaNhom"
              required
            />
            <div *ngIf="MaNhom.errors && (MaNhom.dirty || MaNhom.touched)">
              <!-- kiểm tra rỗng -->
              <p *ngIf="MaNhom.errors.required" class="thong-bao">
                Vui lòng nhập mã nhóm!
              </p>
            </div>
          </div>
          <div class="form-group">
            <textarea
              id="my-textarea"
              class="form-control"
              rows="3"
              placeholder="Mô tả"
              name="MoTa"
              #MoTa="ngModel"
              [ngModel]="movie.MoTa"
              required
            ></textarea>
            <div *ngIf="MoTa.errors && (MoTa.dirty || MoTa.touched)">
              <!-- kiểm tra rỗng -->
              <p *ngIf="MoTa.errors.required" class="thong-bao">
                Vui lòng nhập mô tả!
              </p>
            </div>
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Đánh giá"
              name="DanhGia"
              #DanhGia="ngModel"
              pattern="^(0|[1-9][0-9]*)$"
              [ngModel]="movie.DanhGia"
              required
            />
            <div *ngIf="DanhGia.errors && (DanhGia.dirty || DanhGia.touched)">
              <!-- kiểm tra rỗng -->
              <p *ngIf="DanhGia.errors.required" class="thong-bao">
                Vui lòng nhập đánh giá!
              </p>
              <!-- kiểm tra số -->
              <p *ngIf="DanhGia.errors.pattern" class="thong-bao">
                vui lòng nhập số!
              </p>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Ngày khởi chiếu"
              name="NgayKhoiChieu"
              #NgayKhoiChieu="ngModel"
              [ngModel]="movie.NgayKhoiChieu"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Hình ảnh"
              name="HinhAnh"
              #HinhAnh="ngModel"
              [ngModel]="movie.HinhAnh"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="trailer"
              name="Trailer"
              #Trailer="ngModel"
              [ngModel]="movie.Trailer"
            />
          </div>
          <div class="text-right" *ngIf="statusChangeForm; else hiddenBtnThem">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="updateMovie(insertForm.value)"
            >
              Cập nhật
            </button>
          </div>
          <ng-template #hiddenBtnThem>
            <div class="text-right">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="insertMovie(insertForm.value)"
              >
                Thêm
              </button>
            </div>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalFail">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          {{ alert }}
        </h4>
      </div>
    </div>
  </div>
</div>
