.navbar {
  background-color: #060e19 !important;
  padding: 12px;
  border-top-color: #e7e7e7 !important;
  .nav-item {
    .nav-link {
      font-weight: 700;
      font-size: 15px;
      margin-right: 15px;
      color: white;
      letter-spacing: 1px;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        color: #00c3b7;
      }
    }
  }

  .social {
    ul {
      display: flex;
      margin: 0;
      float: right;
      li {
        list-style: none;
        a {
          padding: 0 15px;
          color: white;
          transition: all 0.3s;
          letter-spacing: 1px;
          font-weight: 700;
          font-size: 15px;
        }

        &:hover {
          a {
            color: #00c3b7;
            cursor: pointer;
          }
        }
        .dropdown-menu {
          padding: 0;
          background-color: black;
          .dropdown-item {
            padding: 10px 15px;
          }
        }
        .incon__userLogin{
          width: 27px;
          border-radius: 50%;
          margin-right: 5px;
          box-shadow: 0 0 10px rgba(0, 188, 212, 0.92);
        }
      }

      .LineFence {
        border-right: 1px solid white !important;
      }
    }
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #b1acaceb;
  padding: 0 25px;
  height: 46px;
  border-radius: 50px;
  background-color: #00c3b71a;
  .example-full-width {
    width: 95%;
    .mat-form-field-wrapper {
      padding-bottom: 10px !important;
      .mat-form-field-flex {
        .mat-form-field-infix {
          width: 400px !important;
          .mat-input-element {
            border: 1px solid #00ffef;
          }
        }
      }
    }
  }
}

.example-full-width {
  width: 100%;
}

.mat-option {
  margin: 10px 0;
  .mat-option-text {
    img {
      margin-right: 10px !important;
    }
  }
}

/*** header center ***/
.wrap-sticky nav.navbar.bootsnav.sticked {
  background-color: rgba(0, 0, 0, 0.87);
}

.home-5 .wrap-sticky nav.navbar.bootsnav.sticked {
  background-color: #fff;
  box-shadow: -6px 2px 9px 1px #dadada;
}

.header-search .btn-group.bootstrap-select {
  width: 127px !important;
}

.header-search .btn-group.bootstrap-select button {
  background: transparent;
  border: 1px solid #182028;
  padding: 10px 15px;
}

.header-search {
  position: relative;
}

.header-search input {
  padding-right: 0;
  border-radius: 100px;
  background: transparent;
  border-color: #475967;
  color: #dadada;
}

.social .attr-nav > ul > li > a {
  padding: 28px 14px 15px;
}

.header-search button {
  position: absolute;
  right: 0;
  top: 0;
  background: #00c3b7;
  border: none;
  padding: 7px 36px;
  border-radius: 100px;
  color: #fff;
  height: 46px;
}

.header-search {
  margin: 15px 0px;
}

.Top-rating-items .movie-item-contents {
  border-radius: 25px;
  margin-top: -8px;
}

.Top-rating-items .slick-slide.slick-active .movie-item-contents {
  height: 480px;
  margin-top: 40px;
}

.header-border {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background: #06060657;
  .header-center {
    padding: 15px 0;
  }
}

.header-search .btn-group.bootstrap-select {
  position: absolute;
}

.pagination > li > a,
.pagination > li > span {
  color: #ffffff;
  background-color: #182028;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.modalAccount {
  top: 14%;
  .modal-content {
    background-color: #060e19;
    box-shadow: 0 0 10px rgb(0, 255, 231);
    border-radius: 5px;
    .modal-header {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: transparent;
      border-bottom: 0;
      text-align: center;
      display: block;
      .modal-title {
        font-size: 20px;
        color: white;
      }
    }
    .modal-body {
      padding: 30px;
      color: white;
      text-align: center;
      .form-group {
        margin-bottom: 20px;
        &:nth-child(2) {
          margin-bottom: 40px;
        }
        input {
          height: 50px;
          background-color: #fff0;
          border: 1px solid #0de6dc;
          color: white;
        }
      }
      .btn-modal {
        width: 100%;
        height: 50px;
        background-color: black;
        box-shadow: inset 0px 2px 25px 13px #00c3b7;
        border: none;
        color: #00ffef;
      }
      a {
        color: #00ffef;
        margin-left: 10px;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.modalAccount {
  .modal-dang-ky {
    .modal-body {
      .form-group {
        &:nth-child(2) {
          margin-bottom: 20px;
        }
        &:nth-child(5) {
          margin-bottom: 40px;
        }
      }
    }
  }
}

.thong-bao {
  font-size: 15px;
  color: #ff3939;
  margin: 5px 0 0 5px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
}

.loginFail {
  top: -3%;
  left: -1%;
  z-index: 1051;
  .modal-dialog {
    max-width: 700px;
    .modal-content {
      box-shadow: inset 0 0 29px 17px #00c3b7;
      border: none;
      .modal-header {
        display: block;
        border: none;
        padding: 30px;
        text-align: center;
        .modal-title {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px){
  .header-logo{
      text-align: center;
  }
  .navbar{
      .social{
          ul{
              li{
                  a{
                      font-size: 12px;
                  }
              }
          }
      } 
      .nav-item{
          .nav-link{
              font-size: 14px;
          }
      }    
  }
  .modal-dialog{
      .modal-content{
          width: 80%;
      }   
  }
}
@media screen and (max-width: 890px){
  .navbar{
      .nav-item{
          .nav-link{
              font-size: 13px;
          }
      }

      .social{
          ul{
              li{
                  a{
                      font-size: 11px;
                  }
              }
          }
      }
  }

  .header-logo{
      a{
          img{
              width: 140px;
          }
      }
  }
}
@media screen and (max-width: 823px){
  .navbar{
      .nav-item{
          .nav-link{
              font-size: 12px;
          }
      }
      .social{
          ul{
              li{
                  a{
                      font-size: 9px;
                  }
              }
          }
      }     
  }
}
@media screen and (max-width: 802px){
  .navbar{
      .nav-item{
          .nav-link{
              font-size: 12px;
          }
      }
      .social{
          ul{
              li{
                  a{
                      font-size: 9px;
                  }
              }
          }
      }     
  }
}
@media screen and (max-width: 768px){
  .navbar{
    padding: 0px;
      .nav-item{
          .nav-link{
            font-size: 10px;
            margin-right: 0;
          }
      }
      .social{
          ul{
              li{
                  a{
                      font-size: 6px;
                      padding: 5px;
                  }
              }
          }
      }     
  }
}
@media screen and (max-width: 576px){
  .navbar{
    padding: 0px;
      .nav-item{
          .nav-link{
            font-size: 15px;
          }
      }
      .social{
          ul{
            #li-dang-ky{
              margin-left: 20px;
            }
              li{
                  a{
                      font-size: 15px;
                      padding: 3px;
                  }
              }
              .LineFence {
                margin-right: 20px;
                padding-right: 20px;
              }
          }
      }     
  }
.header-search button{
    padding: 0px 33px;
    border-radius: 100px;
    color: #fff;
    height: 34px;
  }              
  .example-form{  
    height: 35px;
  }
}
