.detail-trailer {
  position: relative;
  overflow: hidden;
  height: 600px;
  z-index: 2;
  .detail-trailer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, transparent 150%);
  }
  .detail-background {
    width: 100%;
    height: 100%;
  }
  .border-play-video {
    position: absolute;
    top: 29.7%;
    left: 50%;
    width: 90px;
    height: 90px;
    text-align: center;
    // line-height: 80px;
    border-radius: 50%;
    transform: translate(-50%, -29.7%);
    animation: play-button 1s infinite;

    box-shadow: 0 0 30px rgba(0, 188, 212, 0.92);
  }
  .play-video {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -30%);
    cursor: pointer;
    z-index: 3;
  }
}

.detail-desc {
  margin: 0;
  background: linear-gradient(to bottom, #000, transparent 110%);
}

.detail-review {
  .right-col {
    z-index: 10;
  }
  margin-top: -17%;
  padding-bottom: 180px;
  .detail-review-img {
    position: relative;
    width: 45%;
    top: 22%;
    left: 40%;
    z-index: 3;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 188, 212, 0.92);
    img {
      border-radius: 15px;
      width: 100%;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 24px;
    }
  }
  .detail-reivew-des {
    margin-top: 10%;
    .detail-title h2 {
      color: #02d9cc;
      font-size: 25px;
      font-weight: bold;
    }
    .detail-rating {
      margin: 9px 0;
      span {
        color: #ffa800;
        font-size: 16px;
      }
    }
    .detail-description {
      ul {
        li {
          display: block;
          color: #02d9cc;
          font-weight: bold;
          font-size: 14px;
          line-height: 28px;
          text-transform: capitalize;
          span {
            width: 150px;
            clear: both;
            display: inline-block;
            label {
              text-align: right;
              float: right;
            }
          }
          a {
            color: white;
            font-weight: normal;
            margin-left: 11px;
            transition: all 0.3s;
            &:hover {
              text-decoration: none;
              color: #02d9cc;
            }
          }
        }
      }
    }
    .detail-social-link {
      color: white;
      font-size: 15px;
      text-transform: uppercase;
      strong {
        margin-right: 100px;
      }
      a {
        margin: 7px;
        font-size: 22px;
        &:hover span {
          transform: scale(1.4);
        }
      }
      .social-tw {
        color: #1da1f2;
      }

      .social-sk {
        color: #00aff0;
      }

      .social-pin {
        color: #bd081b;
      }

      .social-ins {
        color: #ffac4a;
      }
    }
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal {
  .modal-dialog {
    margin-left: 25%;
    margin-top: 5%;
    .modal-content {
      height: 450px;
      width: 150%;
      position: relative;
    }

    .modal-close {
      background: none;
      width: 50px;
      height: 50px;
      line-height: 25px;
      position: absolute;
      right: -40px;
      bottom: -40px;
      color: white;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      i {
        color: white;
        font-size: 30px;
        transition: all 0.5s;
        &:hover {
          color: #00aff0;
        }
      }
    }
  }
}

@keyframes play-button {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes play-button {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 992px){
  .detail-trailer{
    height: 400px;
  }
}

@media screen and (max-width: 576px){
  .detail-trailer{
    height: 400px;
  }
  .detail-review{
    padding-bottom: 55px;
    .detail-review-img{
      left: 10%;
    }
    .detail-reivew-des{
      margin-top: 18%;
      margin-left: 5%;
    }
  }
}