<ng-container *ngIf="movie">
    <div class="detail-trailer">
      <img class="detail-background" [src]="movie.HinhAnh" alt="detail img" />
      <div class="detail-trailer-bg"></div>
      <img class="play-video" src="../../../../../assets/images/play-video.png" data-toggle="modal" data-target="#movieDetailTrailer">
      <div class="border-play-video"></div>
    </div>
    <div class="row detail-desc">
      <div class="col-sm-12 col-xs-12">
        <div class="detail-review">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
              <div class="detail-review-img">
                <img [src]="movie.HinhAnh" alt="" />
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 right-col">
              <div class="detail-reivew-des">
                <div class="detail-title">
                  <h2>{{ movie.TenPhim }}</h2>
                </div>
                <div class="detail-rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="detail-description">
                  <ul>
                    <li>
                      <span>Ngày phát hành <label>:</label></span
                      ><a href="">{{
                        movie.NgayKhoiChieu | date: "dd-MM-yyyy"
                      }}</a>
                    </li>
                    <li>
                      <span>Đạo diễn <label>:</label></span
                      ><a href="">Priti kapel, Justin orjun</a>
                    </li>
                    <li>
                      <span>Diễn viên <label>:</label></span
                      ><a href="">Charlotte Vega, Patrick Wilson</a>
                    </li>
                    <li>
                      <span>Thể loại <label>:</label></span
                      ><a href="">kinh dị</a>
                    </li>
                    <li>
                      <span>Định dạng <label>:</label></span
                      ><a href="">2D / Digital / 4DX</a>
                    </li>
                    <li>
                      <span>Quốc gia SX <label>:</label></span
                      ><a href="">Mỹ</a>
                    </li>
                  </ul>
                </div>
                <div class="detail-social-link">
                  <strong>Share</strong>
                  <a href="" class="social-fb"
                    ><span class="fa fa-facebook"></span
                  ></a>
                  <a href="" class="social-tw"
                    ><span class="fa fa-twitter"></span
                  ></a>
                  <a href="" class="social-sk"
                    ><span class="fa fa-skype"></span
                  ></a>
                  <a href="" class="social-pin"
                    ><span class="fa fa-pinterest"></span
                  ></a>
                  <a href="" class="social-ins"
                    ><span class="fa fa-instagram"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- The Modal -->
    <div class="modal" id="movieDetailTrailer" data-backdrop="static">
      <div class="modal-dialog">
          <div class="modal-content">
              <!-- Modal body -->
              <div class="modal-body">
                  <iframe width="100%" height="100%" [src]="detailTrailer | safe" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
              </div>
              <button title="Close (Esc)" type="button" class="modal-close" data-dismiss="modal" (click) = "PauseVideo()">
                  <i class="fa fa-times"></i>
              </button>
          </div>
      </div>
    </div>
  </ng-container>
  