<div class="row">
  <div class="col-md-6 review_bg">
    <div class="review-image" routerLink = "/reviews">
      <img src="../../../../../assets/images/new-movie/reviews1.jpg" alt="">
      <span class="review-date">20.06.2019</span>
    </div>
    <a class="review-title" routerLink = "/reviews">
      <p class="mt-3">The Lion King - Tấm vé trở lại tuổi thơ của các thế hệ khán giả từng yêu thích Disney </p>
    </a>
    <p class="review-content">Sau Aladdin, phiên bản điện ảnh của The Lion King đã tiếp tục “hồi sinh” 
      những kí ức tuổi thơ của nhiều thế hệ khán giả qua những tác phẩm hoạt hình của Disney.</p>
    <div class="blockIcon">
      <i class="fa fa-thumbs-up"></i><span class="ml-2">0</span>
      <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
    </div>
  </div>
  <div class="col-md-6 review_bg">
    <div class="review-image" routerLink = "/reviews">
      <img src="../../../../../assets/images/new-movie/review2.jpg" alt="">
      <span class="review-date">20.06.2019</span>
    </div>
    <a class="review-title" routerLink = "/reviews">
      <p class="mt-3">Spider-Man: Far From Home - Màn tái xuất hài hước và đầy 'cú lừa' của Nhện 'nhí'</p>
    </a>
    <p class="review-content">Sau khi “bay màu” rồi được hồi sinh trong Avengers: Endgame, Nhện “nhí” của Tom Holland đã 
      có màn tài xuất ấn tượng với một cốt truyện đầy những “cú lừa” của Spider-Man: Far From Home.</p>
    <div class="blockIcon">
      <i class="fa fa-thumbs-up"></i><span class="ml-2">0</span>
      <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-4 review_bg">
    <div class="review-image" routerLink = "/reviews">
      <img src="../../../../../assets/images/new-movie/review3.jpg" alt="">
    </div>
    <a class="review-title" routerLink = "/reviews">
      <p class="mt-3">Annabelle: Ác Quỷ Trở Về - 'Chị Beo' đã trở lại và lợi hại hơn gấp trăm lần</p>
    </a>
    <p class="review-content">Sau khi gieo rắc nỗi kinh hoàng vòng quanh thế giới thì Annabelle cuối cùng cũng đã “về nhà” trong phần phim này. 
      Nhưng lần này, chị không đi một mình mà có cả một binh đoàn ma quỷ theo sau...</p>
    <div class="blockIcon">
      <i class="fa fa-thumbs-up"></i><span class="ml-2">0</span>
      <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
    </div>
  </div>
  <div class="col-md-4 review_bg">
    <div class="review-image" routerLink = "/reviews">
      <img src="../../../../../assets/images/new-movie/review4.jpg" alt="">
    </div>
    <a class="review-title" routerLink = "/reviews">
      <p class="mt-3">Ký Sinh Trùng - Đỉnh cao của điện ảnh Hàn Quốc </p>
    </a>
    <p class="review-content">Với lối kể chuyện thông minh và kịch bản đầy nút thắt, Ký Sinh Trùng xứng đáng là đỉnh cao
      của điện ảnh Hàn Quốc
      trong nhiều năm trở lại đây với giải Cành Cọ Vàng danh giá tại Cannes 2019.</p>
    <div class="blockIcon">
      <i class="fa fa-thumbs-up"></i><span class="ml-2">0</span>
      <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
    </div>
  </div>
  <div class="col-md-4">
      <div class="review-item">
        <a routerLink = "/reviews"><img src="../../../../../assets/images/new-movie/review7.jpg" alt=""></a>
        <p routerLink = "/reviews" class="review-item_title">Toy Story 4 - Cả bầu trời kí ức tuổi thơ bỗng chốc thu bé lại bằng một bộ phim</p>
      </div>
      <div class="review-item">
        <a routerLink = "/reviews"><img src="../../../../../assets/images/new-movie/review5.jpg" alt=""></a>
        <p routerLink = "/reviews" class="review-item_title">Men in Black: International - Chán bảo vệ Asgard, Thor cùng Valkyrie 'quẩy tưng' tổ chức áo đen</p>
      </div>
      <div class="review-item">
        <a routerLink = "/reviews"><img src="../../../../../assets/images/new-movie/review6.jpg" alt=""></a>
        <p routerLink = "/reviews" class="review-item_title">Aladdin - Sống lại tuổi thơ đầy màu sắc với bộ phim hoạt hình đình đám bậc nhất Disney</p>
      </div>
      <div class="review-item">
        <a routerLink = "/reviews"><img src="../../../../../assets/images/news3.jpg" alt=""></a>
        <p routerLink = "/reviews" class="review-item_title">Godzilla: King of the Monsters - Kong có thể là Vua nhưng Godzilla thì là “Chúa”</p>
      </div>
  </div>
</div>