.choose-chair{
    padding-bottom: 25px;
    .choose-chair_top{
        padding: 20px 0;
        .left_title{
            .logocinema{
                .logo{
                    width: 50px;
                    height: 50px;
                }
            }

            .contentcinema{
                margin-left: 15px;
                line-height: 25px;
            }
        }

        .righttitle{
            float: right;
            line-height: 27px;      
            .info2{
                font-size: 28px;
                text-align: center;
                color: red;
            }
        }
    }

    .choose-chair_bottom{
        .room{
            .screen{
                img{
                    width: 100%;
                }
            }
            .list_chair{
                height: 100%;
                width: 56%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .typeseats{
        .typeseats-box{
            margin: 30px 0 10px 0;
        }
        .typeseat{
            .colorseat{
                display: inline-block;
                width: 12px;
                height: 12px;
            }

            .colornull{
                border: 2px solid #fb9917;        
                border-radius: 3px;
            }

            .colorchoosing{
                border: 1px solid #fb9917;
                border-radius: 3px;
                background-color: #fb9917;
            }

            .colorchosen{
                border: 1px solid #9e9e9e6e;
                border-radius: 3px;
                background-color: #9e9e9e6e;
            }

            .colornever{
                border: 1px solid #9e9e9e;
                border-radius: 3px;
                background-color: #9e9e9e;
            }

            .nameseat{
                margin: 0 40px 0 7px;
                font-size: 15px;
            }
        }
    }
}

.modal{
    top: 35%;
    .modal-dialog{
        text-align: center;
        max-width: 700px;
        .modal-body{
            padding: 40px;
            a{
                color: #ff0080;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .choose-chair{
        .choose-chair_bottom{
            .room{
                .list_chair{
                    height: 100%;
                    width: 92%;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .choose-chair{
        .choose-chair_bottom{
            .room{
                .list_chair{
                    height: 100%;
                    width: 96%;
                }
            }
        }
    }
}

