<ng-container *ngIf="movie">
    <div class="detail-content">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <!-- Nav lịch chiếu - thông tin - bình luận -->
                <ul class="nav nav-pills nav-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#LichChieu">Lịch chiếu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#ThongTin">Thông tin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#BinhLuan">Bình luận</a>
                    </li>
                </ul>
    
                 <!-- content lịch chiếu - thông tin - bình luận -->
                 <div class="tab-content">
                     <!-- nav lịch chiếu -->
                     <div class="tab-pane active" id="LichChieu">
                        <ul class="nav nav-pills nav-center nav-rap">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#CGV">
                                    <img src="../../../../assets/images/rapBHD.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#BHD">
                                    <img class="logo-circle" src="../../../../assets/images/rapGALA.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#LOTTE">
                                    <img class="logo-circle" src="../../../../assets/images/rapLOTE.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#SAO">
                                    <img class="logo-circle" src="../../../../assets/images/rapSAO.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#TOUCH">
                                    <img class="logo-circle" src="../../../../assets/images/doitac3.png" alt="">
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content content-lich-chieu">
                            <div class="tab-pane active" id="CGV">
                                <div class="detail-lich-chieu">
                                    <div class="row">
                                        <div class="col-md-5 rap">
                                            <ul class="nav nav-pills nav-center nav-lich-chieu">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="pill" href="#CGVSuVanHanh">
                                                        <div class="item-rap">                                           
                                                            <div class="rap-img">
                                                                <img src="../../../../assets/images/cgv-su-van-hanh.jpg" alt="">
                                                            </div>
                                                            <div class="rap-dia-chi">
                                                                <h5><span>CGV</span> - Sư Vạn Hạnh</h5>
                                                                <p>Tầng 6 Vạn Hạnh Mall, 11 Sư Vạn Hạnh, Quận 10</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="pill" href="#CGVThuDuc">
                                                        <div class="item-rap">                                           
                                                            <div class="rap-img">
                                                                <img src="../../../../assets/images/cgv-su-van-hanh.jpg" alt="">
                                                            </div>
                                                            <div class="rap-dia-chi">
                                                                <h5><span>CGV</span> - Thủ Đức</h5>
                                                                <p>Tầng 6 Vạn Hạnh Mall, 11 Sư Vạn Hạnh, Quận 10</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="pill" href="#CGVDongKhoi">
                                                        <div class="item-rap">
                                                            <div class="rap-img">
                                                                <img src="../../../../assets/images/cgv-su-van-hanh.jpg" alt="">
                                                            </div>
                                                            <div class="rap-dia-chi">
                                                                <h5><span>CGV</span> - Đồng Khởi</h5>
                                                                <p>Tầng 6 Vạn Hạnh Mall, 11 Sư Vạn Hạnh, Quận 10</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>                                                                                                                                            
                                        </div>
                                        <div class="col-sm-7 rap-ngay-chieu">
                                            <div class="tab-content">
                                                <div class="tab-pane container active" id="CGVSuVanHanh">  
                                                    <ul class="nav nav-pills nav-center list-ngay-chieu">
                                                        <ng-container *ngIf="movie">
                                                        <li class="nav-item" *ngFor="let item1 of movie.LichChieu ; let index = index">
                                                            <a class="nav-link  ngay-chieu" data-toggle="pill" [ngClass]="{active: index === 0}" (click)="getNgayChieu(item1.MaLichChieu, item1.NgayChieuGioChieu)">{{item1.NgayChieuGioChieu | date: "dd/MM"}}</a>
                                                        </li>
                                                        </ng-container>

                                                    </ul>
                                                    <!-- <ng-template #lichChieu1> -->
                                                        <div class="tab-content content-ngay-chieu">
                                                            <div class="tab-pane container active lich-chieu">
                                                                <div class="item-lich-chieu">
                                                                    <div class="lich-chieu-des">
                                                                        <div class="lich-chieu-img">
                                                                            <img [src]="movie.HinhAnh" alt="">
                                                                        </div>
                                                                        <div class="lich-chieu-phim">
                                                                            <h5><span>13</span>{{movie.TenPhim}}</h5>
                                                                            <p>120p - IMDb 7.9</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="lich-chieu-gio">
                                                                        <div class="dinh-dang">
                                                                            <span>2D</span>
                                                                        </div>
                                                                        <div class="gio-chieu">
                                                                            <a (click)="datVe(maLichChieu)">{{gioChieu | date: "hh:mm"}}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                    
                                                </div>
                                                <div class="tab-pane container fade" id="CGVThuDuc">  
                                                    <ul class="nav nav-pills nav-center list-ngay-chieu">
                                                        <li class="nav-item">
                                                            <a class="nav-link active ngay-chieu" data-toggle="pill" href="#HomNay1">1/8</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ngay-chieu" data-toggle="pill" href="#NgayMai1">2/8</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ngay-chieu" data-toggle="pill" href="#NgayMot">3/8</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content content-ngay-chieu">
                                                        <div class="tab-pane container active lich-chieu" id="HomNay1">
                                                            <div class="item-lich-chieu">
                                                                <div class="lich-chieu-des">
                                                                    <div class="lich-chieu-img">
                                                                        <img src="../../../../assets/images/aladdin.jpg" alt="">
                                                                    </div>
                                                                    <div class="lich-chieu-phim">
                                                                        <h5><span>13</span> Super man</h5>
                                                                        <p>140 phút - IMDb 7.9</p>
                                                                    </div>
                                                                </div>
                                                                <div class="lich-chieu-gio">
                                                                    <div class="dinh-dang">
                                                                        <span>2D</span>
                                                                    </div>
                                                                    <div class="gio-chieu">
                                                                        <a href="">10:00</a>
                                                                        <a href="">13:00</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item-lich-chieu">
                                                                <div class="lich-chieu-des">
                                                                    <div class="lich-chieu-img">
                                                                        <img src="../../../../assets/images/aladdin.jpg" alt="">
                                                                    </div>
                                                                    <div class="lich-chieu-phim">
                                                                        <h5><span>13</span> Super man</h5>
                                                                        <p>140 phút - IMDb 7.9</p>
                                                                    </div>
                                                                </div>
                                                                <div class="lich-chieu-gio">
                                                                    <div class="dinh-dang">
                                                                        <span>2D</span>
                                                                    </div>
                                                                    <div class="gio-chieu">
                                                                        <a href="">10:00</a>
                                                                        <a href="">13:00</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane container fade lich-chieu" id="NgayMai1">
                                                            <div class="item-lich-chieu">
                                                                <div class="lich-chieu-des">
                                                                    <div class="lich-chieu-img">
                                                                        <img src="../../../../assets/images/aladdin.jpg" alt="">
                                                                    </div>
                                                                    <div class="lich-chieu-phim">
                                                                        <h5><span>13</span> Spider man</h5>
                                                                        <p>140 phút - IMDb 7.9</p>
                                                                    </div>
                                                                </div>
                                                                <div class="lich-chieu-gio">
                                                                    <div class="dinh-dang">
                                                                        <span>2D</span>
                                                                    </div>
                                                                    <div class="gio-chieu">
                                                                        <a href="">10:00</a>
                                                                        <a href="">13:00</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item-lich-chieu">
                                                                <div class="lich-chieu-des">
                                                                    <div class="lich-chieu-img">
                                                                        <img src="../../../../assets/images/aladdin.jpg" alt="">
                                                                    </div>
                                                                    <div class="lich-chieu-phim">
                                                                        <h5><span>13</span> Spider man</h5>
                                                                        <p>140 phút - IMDb 7.9</p>
                                                                    </div>
                                                                </div>
                                                                <div class="lich-chieu-gio">
                                                                    <div class="dinh-dang">
                                                                        <span>2D</span>
                                                                    </div>
                                                                    <div class="gio-chieu">
                                                                        <a href="">10:00</a>
                                                                        <a href="">13:00</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane container fade" id="CGVDongKhoi">  
                                                    <ul class="nav nav-pills nav-center list-ngay-chieu">
                                                        <li class="nav-item">
                                                            <a class="nav-link active ngay-chieu" data-toggle="pill" href="#HomNay2">1/8</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ngay-chieu" data-toggle="pill" href="#NgayMai2">2/8</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ngay-chieu" data-toggle="pill" href="#NgayMot">3/8</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content content-ngay-chieu">
                                                        <div class="tab-pane container active lich-chieu" id="HomNay2">
                                                            <div class="item-lich-chieu">
                                                                <div class="lich-chieu-des">
                                                                    <div class="lich-chieu-img">
                                                                        <img src="../../../../assets/images/aladdin.jpg" alt="">
                                                                    </div>
                                                                    <div class="lich-chieu-phim">
                                                                        <h5><span>13</span> Annabelle</h5>
                                                                        <p>140 phút - IMDb 7.9</p>
                                                                    </div>
                                                                </div>
                                                                <div class="lich-chieu-gio">
                                                                    <div class="dinh-dang">
                                                                        <span>2D</span>
                                                                    </div>
                                                                    <div class="gio-chieu">
                                                                        <a href="">10:00</a>
                                                                        <a href="">13:00</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item-lich-chieu">
                                                                <div class="lich-chieu-des">
                                                                    <div class="lich-chieu-img">
                                                                        <img src="../../../../assets/images/aladdin.jpg" alt="">
                                                                    </div>
                                                                    <div class="lich-chieu-phim">
                                                                        <h5><span>13</span> Annabelle</h5>
                                                                        <p>140 phút - IMDb 7.9</p>
                                                                    </div>
                                                                </div>
                                                                <div class="lich-chieu-gio">
                                                                    <div class="dinh-dang">
                                                                        <span>2D</span>
                                                                    </div>
                                                                    <div class="gio-chieu">
                                                                        <a href="">10:00</a>
                                                                        <a href="">13:00</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane container fade lich-chieu" id="NgayMai2">
                                                            <div class="item-lich-chieu">
                                                                <div class="lich-chieu-des">
                                                                    <div class="lich-chieu-img">
                                                                        <img src="../../../../assets/images/aladdin.jpg" alt="">
                                                                    </div>
                                                                    <div class="lich-chieu-phim">
                                                                        <h5><span>13</span> Thor</h5>
                                                                        <p>140 phút - IMDb 7.9</p>
                                                                    </div>
                                                                </div>
                                                                <div class="lich-chieu-gio">
                                                                    <div class="dinh-dang">
                                                                        <span>2D</span>
                                                                    </div>
                                                                    <div class="gio-chieu">
                                                                        <a href="">10:00</a>
                                                                        <a href="">13:00</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item-lich-chieu">
                                                                <div class="lich-chieu-des">
                                                                    <div class="lich-chieu-img">
                                                                        <img src="../../../../assets/images/aladdin.jpg" alt="">
                                                                    </div>
                                                                    <div class="lich-chieu-phim">
                                                                        <h5><span>13</span> Thor</h5>
                                                                        <p>140 phút - IMDb 7.9</p>
                                                                    </div>
                                                                </div>
                                                                <div class="lich-chieu-gio">
                                                                    <div class="dinh-dang">
                                                                        <span>2D</span>
                                                                    </div>
                                                                    <div class="gio-chieu">
                                                                        <a href="">10:00</a>
                                                                        <a href="">13:00</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                              
                                        </div>
                                    </div>                                            
                                </div>
                            </div>
                            <div class="tab-pane container" id="BHD">
                                fasdgaerhadfga
                            </div>
                            <div class="tab-pane container" id="LOTTE">
                                fasdgaerhadfga
                            </div>
                        </div>
                     </div>
    
                     <!-- nav thông tin -->
                    <div class="tab-pane container fade" id="ThongTin">
                        <div class="detail-info">
                            <h2 class="title">Nội dung phim</h2>
                            <p>{{movie.MoTa}}</p>
                        </div>
                        <div class="haddings pt-30">
                            <div class="container">
                                <div class="hadding-area">
                                    <h2>Tin tức mới nhất</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 news_bg" *ngFor="let item of news | slice: 0:2">
                              <div class="news-image" (click)="chooseNews(item.id)">
                                <img [src]="item.img" alt="img">
                                <span class="news-date">{{item.release}}</span>
                              </div>
                              <a class="news-title" (click)="chooseNews(item.id)">
                                <p class="mt-3">{{item.title}}</p>
                              </a>
                              <p class="news-content">{{item.content}}</p>
                              <div class="blockIcon">
                                  <i class="fa fa-thumbs-up" (click)="like(item.id)"></i>
                                      <span class="ml-2">{{item.like}}</span>
                                <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
                              </div>
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-md-4 news_bg" *ngFor="let item of news | slice: 2:4">
                              <div class="news-image" (click)="chooseNews(item.id)">
                                <img [src]="item.img" alt="img">
                              </div>
                              <a class="news-title" (click)="chooseNews(item.id)">
                                <p class="mt-3">{{item.title}}</p>
                              </a>
                              <p class="news-content">{{item.content}}</p>
                              <div class="blockIcon">
                                <i class="fa fa-thumbs-up" (click)="like(item.id)"></i><span class="ml-2">{{item.like}}</span>
                                <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
                              </div>
                            </div>
                            <div class="col-md-4 p-0">
                                <div class="news-item" *ngFor="let item of news | slice: 4:8">
                                  <a (click)="chooseNews(item.id)"><img [src]="item.img" alt="img"></a>
                                  <p class="news-item_title" (click)="chooseNews(item.id)">{{item.title}}</p>
                                </div>
                            </div>
                          </div>
                    </div>
                    <!-- end nav thông tin -->
                    <div class="tab-pane container fade" id="BinhLuan">    
                        <app-detail-comment [movie]="movie"></app-detail-comment>
                    </div>
                </div>                  
            </div>
        </div>
    </div>  
    </ng-container>