.app-cinema{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 35px 0 70px 0;
}

.loai_phim{
    background: linear-gradient(to bottom, #000, transparent 80%);
    margin-bottom: 50px;
    padding-top: 75px;
}

@media screen and (max-width: 576px){
    .movie-item{
        .movie-item_img{
            a{
                img{
                    height: 300px;
                }
            }
        }
    } 
}