<div class="container">
        <div class="news-title pt-50">
            <h1>Spider-Man: Far From Home - Màn tái xuất hài hước và đầy 'cú lừa' của Nhện 'nhí'</h1>
        </div>
        <div class="news-rate">
            <div class="news-rate-like">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <span>0 LIKES</span>
            </div>
            <div class="news-rate-comment">
                <i class="fa fa-comment"></i>
                <span>0 BÌNH LUẬN</span>
            </div>
            <div class="news-rate-share">
                <i class="fa fa-share"></i>
                <span>0 CHIA SẺ</span>
            </div>
        </div>
        <div class="news-content pt-50">
            <p>Spider-Man: Far From Home diễn ra vài tháng sau các sự kiện trong Avengers: Endgame. Lúc này, Peter Parker (Tom Holland) cùng các bạn học phải hòa nhập lại cuộc sống bình thường sau 5 năm tan thành tro bụi. Nhân chuyến đi chơi châu Âu của nhà trường, anh chàng dự tính sẽ tỏ tình với MJ (Zendaya). Tuy nhiên, mọi việc không suôn sẻ khi các Elementals tấn công nhóm bạn trong suốt cuộc hành trình.</p>
            <p class="text-center"><img src="../../../assets/images/review-spider-man-far-from-home-1.jpg" alt=""></p>
            <p>Lúc này, Nick Fury (Samuel L. Jackson) xuất hiện và nhờ Peter Parker trợ giúp. Theo đó, chúng ta mới biết được những quái vật nguyên tố kia đến từ vũ trụ song song cùng với siêu anh hùng Mysterio/Quentin Beck (Jake Gyllenhaal) bởi “Cú Nháy” (The Blip) của Hulk (Mark Ruffalo). Tuy nhiên, mọi thứ không hề đơn giản như những gì cậu tưởng tượng. Đây cũng là lúc Peter phải đưa ra những quyết định khó khăn để trưởng thành và trở thành Iron Man tiếp theo.</p>
            <p>Giống với phần phim đầu tiên, Peter Parker trong Spider-Man: Far From Home vẫn chỉ là một cậu học sinh trung học đang “tuổi ăn tuổi lớn”. Tuy nhiên, cậu nhóc không còn cố chứng tỏ bản thân để trở thành một thành viên Avengers nữa mà thay vào đó là mong muốn sống một cuộc đời bình yên đúng với lứa tuổi.</p>
            <p>Cậu chuyện tình yêu “gà bông” của anh chàng cùng MJ (Zendaya) được khai thác một cách đáng yêu không kém gì những bộ phim dành cho tuổi mới lớn. Mấy ai ngờ rằng một Spider-Man từng chiến đấu với quái vật ngoài không gian lại chẳng thể thốt nên lời khi đứng gần “người trong mộng”.</p>
            <p>Thay vào đó, anh chàng dùng những chiêu thức tán tỉnh đầy đáng yêu như âm thầm mua quà cho nàng, vẽ ra một kịch bản tỏ tình siêu lãng mạn hay “ghen bóng ghen gió” khi có thêm sự xuất hiện của tình địch điển trai Brad (Remy Hii). Tom Holland vẫn xuất sắc trong hình ảnh một siêu anh hùng tuổi teen ngây ngô, đang đứng trước ngưỡng cửa trưởng thành và luôn bối rối trước cả những kẻ thù hùng mạnh lẫn các sóng gió chốn học đường.</p>
            <p class="pt-30 text-center"><img src="../../../assets/images/review-spider-man-far-from-home-2.jpg" alt=""></p>
            <p>Trong khi đó, Zendaya cũng hoàn thành tốt vai diễn một cô nàng lập dị, thông minh nhưng cũng không kém phần dũng cảm cùng những câu thoại thô nhưng thật. Cả hai diễn viên trẻ đã có màn phối hợp ăn ý với nhiều phân cảnh ngại ngùng rất dễ thương. Tuy chỉ là học sinh nhưng cảm xúc giữa họ cũng khá ấn tượng không thua kém hai phiên bản lớn tuổi hơn của Andrew Garfield hay Tobey Maguire tẹo nào.</p>
            <p>Nhóm bạn thân của Peter gồm Ned (Jacob Batalon), Flash Thompson (Tony Revolori), Betty (Angourie Rice) cũng bắt đầu có những phân cảnh riêng đầy hài hước và không kém phần “drama” để mang đến cho khán giả vô số tiếng cười sảng khoái. Ngoài ra, Spider-Man: Far From Home cũng đã mang đến cái nhìn tổng thể về thế giới hậu Avengers: Endgame khi tất cả những ai tan biến đều được hồi sinh. Lúc này, nhiều sự kiện dở khóc dở cười xảy ra như người em lại lớn tuổi hơn cả anh chị hay những đứa nhóc xưa kia nay trở thành đồng trang lứa với những ai đã bay màu.</p>
            <p><strong>Trên hết, bộ phim vẫn là hành trình trưởng thành của Peter Parker</strong></p>
            <p>Tiếp tục cuộc hành trình trong Spider-Man: Homecoming, phần phim này vẫn là theo chân sự trưởng thành của Peter Parker trong việc làm siêu anh hùng. Nhưng giờ đây, anh chàng không còn người thầy Iron Man ở bên cạnh để hướng dẫn những điều hay lẽ phải nữa. Xuyên suốt thời lượng phim, chúng ta dễ dàng bắt gặp hình ảnh cậu nhóc vấp ngã, bị kẻ thù lợi dụng.</p>
            <p>Nhưng cũng qua đó mà Peter có cơ hội để đứng lên từ chính những thất bại. Thông qua những biến cố của cuộc đời, Spider-Man không chỉ hoàn thiện được thêm sức mạnh như các phiên bản trước mà còn trở thành một người kế thừa xứng đáng những di sản mà Iron Man để lại. Marvel cũng đang định hướng anh chàng trở thành thành viên trụ cột của nhóm Avengers cũng như thay thế lỗ hỏng quá lớn của Tony Stark.</p>
            <p>Nhìn chung, Spider-Man: Far From Home tuy còn vài điểm yếu nhưng đã hoàn thành tốt nhiệm vụ khép lại kỉ nguyên siêu anh hùng thứ 3 của Marvel. Phim cũng đã tạo tiền đề mới cho tương lai của MCU nhờ hai đoạn after-credit xuất sắc đầy ẩn ý.</p>
        </div>
        <div class="news-comment" id="newsComment">
            <ol class="comment-list">
                <li class="single-comment">
                    <div class="comment-body">
                        <div class="comment-img">
                            <img src="./images/author/1.png" alt="">
                        </div>
                        <div class="comment-content">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="text" class="form-control" rows="2" placeholder="Bạn nghĩ gì về phim này?">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <div class="news-infor">
            <div class="haddings pt-50">
                <div class="container">
                    <div class="hadding-area">
                        <h2>Tin tức mới nhất</h2>
                    </div>
                </div>
            </div>
            <div class="latest-news pt-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="movie-item-contents gradient">
                                    <img src="../../../../assets/images/latest/home-6/1.jpg" alt="">
                                    <div class="movie-item-content">
                                        <div class="movie-item-content-top">
                                            <div class="pull-right hover-right">
                                                <span class="movie-count-time">02.50.20</span>
                                            </div>
                                        </div>
                                        <div class="movie-item-content-center">
                                            <a href="" class="flat-icons" data-video-url="https://www.youtube.com/watch?v=CsVJoCKc9rA" style="cursor: pointer;"><span class="flaticon-play-button"></span></a>
                                        </div>
                                        <div class="movie-item-content-bottom">
                                            <div class="movie-item-title">
                                                <a href="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                                            </div>
                                            <div class="movie-item-beta">
                                                <div class="movie-details">
                                                    <a href="" class="btn btn-button button-detals blck-bg">Xem thêm</a>
                                                </div>
                                                <div class="blog-meta">
                                                    <div class="share-link">
                                                        <div class="share-text">
                                                            <span>Chia sẻ</span>
                                                            <div class="share-hover">
                                                                <ul>
                                                                    <li><a href=""><span class="fa fa-facebook"></span></a></li>
                                                                    <li><a href=""><span class="fa fa-twitter"></span></a></li>
                                                                    <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                                                                    <li><a href=""><span class="fa fa-youtube"></span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="latest-news-small">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sm-width">
                                            <div class="movie-item-contents gradient">
                                                <img src="../../../../assets/images/latest/home-6/2.jpg" alt="">
                                                <div class="movie-item-content">
                                                    <div class="movie-item-content-top">
                                                        <div class="pull-right hover-right">
                                                            <span class="movie-count-time">02.50.20</span>
                                                        </div>
                                                    </div>
                                                    <div class="movie-item-content-bottom">
                                                        <div class="movie-item-title">
                                                            <a href="">Nam lectus nibh consequat aucibus turpis.</a>
                                                        </div>
                                                        <div class="movie-item-beta">
                                                            <div class="movie-details">
                                                                <a href="" class="btn btn-button button-detals blck-bg">Xem thêm</a>
                                                            </div>
                                                            <div class="blog-meta">
                                                                <div class="share-link">
                                                                    <div class="share-text">
                                                                        <span>Chia sẻ</span>
                                                                        <div class="share-hover">
                                                                            <ul>
                                                                                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-twitter"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-youtube"></span></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sm-width">
                                            <div class="movie-item-contents gradient">
                                                <img src="../../../../assets/images/latest/home-6/3.jpg" alt="">
                                                <div class="movie-item-content">
                                                    <div class="movie-item-content-top">
                                                        <div class="pull-right hover-right">
                                                            <span class="movie-count-time">02.50.20</span>
                                                        </div>
                                                    </div>
                                                    <div class="movie-item-content-bottom">
                                                        <div class="movie-item-title">
                                                            <a href="">Nam lectus nibh consequat aucibus turpis.</a>
                                                        </div>
                                                        <div class="movie-item-beta">
                                                            <div class="movie-details">
                                                                <a href="" class="btn btn-button button-detals blck-bg">Xem thêm</a>
                                                            </div>
                                                            <div class="blog-meta">
                                                                <div class="share-link">
                                                                    <div class="share-text">
                                                                        <span>Chia sẻ</span>
                                                                        <div class="share-hover">
                                                                            <ul>
                                                                                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-twitter"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-youtube"></span></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sm-width">
                                            <div class="movie-item-contents pt-30 gradient">
                                                <img src="../../../../assets/images/latest/home-6/4.jpg" alt="">
                                                <div class="movie-item-content">
                                                    <div class="movie-item-content-top">
                                                        <div class="pull-right">
                                                            <span class="movie-count-time hover-right">02.50.20</span>
                                                        </div>
                                                    </div>
                                                    <div class="movie-item-content-bottom">
                                                        <div class="movie-item-title">
                                                            <a href="">Nam lectus nibh consequat aucibus turpis.</a>
                                                        </div>
                                                        <div class="movie-item-beta">
                                                            <div class="movie-details">
                                                                <a href="" class="btn btn-button button-detals blck-bg">Xem thêm</a>
                                                            </div>
                                                            <div class="blog-meta">
                                                                <div class="share-link">
                                                                    <div class="share-text">
                                                                        <span>Chia sẻ</span>
                                                                        <div class="share-hover">
                                                                            <ul>
                                                                                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-twitter"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-youtube"></span></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sm-width">
                                            <div class="movie-item-contents pt-30 gradient">
                                                <img src="../../../../assets/images/latest/home-6/5.jpg" alt="">   
                                                <div class="movie-item-content">
                                                    <div class="movie-item-content-top">
                                                        <div class="pull-right hover-right">
                                                            <span class="movie-count-time">02.50.20</span>
                                                        </div>
                                                    </div>
                                                    <div class="movie-item-content-bottom">
                                                        <div class="movie-item-title">
                                                            <a href="">Nam lectus nibh consequat aucibus turpis.</a>
                                                        </div>
                                                        <div class="movie-item-beta">
                                                            <div class="movie-details">
                                                                <a href="" class="btn btn-button button-detals blck-bg">Xem thêm</a>
                                                            </div>
                                                            <div class="blog-meta">
                                                                <div class="share-link">
                                                                    <div class="share-text">
                                                                        <span>Chia sẻ</span>
                                                                        <div class="share-hover">
                                                                            <ul>
                                                                                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-twitter"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                                                                                <li><a href=""><span class="fa fa-youtube"></span></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>