.header {
  color: #fafafa;
  .user-login-name{
    margin: 0 15px;
  }
  .navbar {
    background: #060e19;
  }
  .nav-link {
    font-weight: 600;
    transition: 0.3s linear;
    cursor: pointer;
    &:hover {
      color: #00c3b7;
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    height: 100%;
    .social {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 18px;
      margin: 0 10px 0 0;
      .icon {
        padding: 0 5px;
        cursor: pointer;
        transition: 0.3s linear;
        &:hover {
          color: #00c3b7;
        }
      }
    }
    .sign {
      border-left: 1px solid #fafafa;
      height: 100%;
      display: flex;
      align-items: center;
      .sign-btn {
        color: #fafafa;
        font-weight: 600;
        padding: 0 10px;
        cursor: pointer;
        transition: 0.3s linear;
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        &:hover {
          color: #00c3b7;
        }
      }
    }
  }
}

.cm-modal-login-cpm{
  
}
