
<div class="inner-page">
    <div class="contact-page pt-75 pb-75">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="col-lg-8">
                        <form action="#" class="contact-form">
                            <div class="name_subject">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">      
                                        <div class="form-group">
                                            <label for="name">Họ và Tên</label>
                                            <input id="name" class="form-control form-mane" placeholder="Họ & tên khách hàng" required="" type="text">          
                                        </div>
                                    </div>
                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
                                    <div class="form-group">
                                        <label for="subject">Chủ đề</label>
                                        <input id="subject" class="form-control form-mane" placeholder="Chủ đề cần liên hệ" required="" type="text">
                                    </div>
                                </div>
                            </div>
                         
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input id="email" class="form-control form-mane" placeholder="Email" required="" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text form-group">
                                    <label for="message">Nội dung</label>
                                    <textarea id="message" class="form-control form-message" cols="10" rows="8" name="message" placeholder="Nội dung" required=""></textarea>
                                </div>
                                <div class="submit-button">
                                    <a href="" class="btn btn-success ">Gửi</a>
                                </div>
                            </div>
                        </form>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
