@import './_core/libs/font-awe.min.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section, nav, header, footer, main{
  display: block;
}

a{
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

body{
  background: url('/img/background1.jpg');
  color: #fafafa;
}