<div class="carousel-booking">
    <div id="carouselId" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
            <li data-target="#carouselId" data-slide-to="1"></li>
            <li data-target="#carouselId" data-slide-to="2"></li>
            <li data-target="#carouselId" data-slide-to="3"></li>
            <li data-target="#carouselId" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item" *ngFor="let item of carouselImg; let index = index" [ngClass]="{active: index === 0}">
                <img [src]="item" alt="First slide">
                <div class="backgroundLinear"></div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="booking-ticket">
        <div class="row m-0">
           <ng-container *ngIf="listMovie">
                <div class="col-sm-6 col-md-4">
                    <select id="selectMovie" class="form-control" (change)="choosingMovie(this)">
                        <option selected>Phim</option>
                        <option *ngFor="let item of listMovie">{{item.TenPhim}}</option>
                    </select>
                </div>
            </ng-container>
            <ng-container *ngIf="listLichChieu">
                <div class="col-sm-6 col-md-2">
                    <select id="selectCinema" class="form-control" (change)="choosingCinema()">
                        <option selected>Rạp</option>
                        <option *ngFor="let item of listRap">{{item.TenRap}}</option>
                    </select>
                </div>
            </ng-container>
            <div class="col-sm-6 col-md-2">
                <select id="selectDate" class="form-control" (change)="choosingDate(this)">
                    <option selected>Ngày</option>
                    <option *ngFor="let item of ngayChieu">{{item.NgayChieuGioChieu | date: "dd/MM/yyyy"}}</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-2">
                <select id="selectTime" class="form-control">
                    <option selected>Giờ</option>
                    <option *ngFor="let item of gioChieu">{{item.NgayChieuGioChieu | date: "hh:mm"}}</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-2">
                <button class="btn-booking btn" (click)="bookingTicket()">Đặt vé</button>
            </div>
        </div>
    </div>
</div>